.navRow{
    display: flex;
    justify-content: space-between;
    height: 58px;
    align-items: center;
}

.nav > ul{
    display: flex;
}

.nav > ul > li > a{
    color: #1a0d3f;
    font-size: 18px;
    line-height: 27px;
    padding: 3px 12px 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.nav > ul > li > a:hover{
    background: rgba(26,13,63,.05);
}

.hasMegaMenu::after{
    width: 10px;
    height: 10px;
    content: '';
    background: url(../public/menu-chevron-normal.svg) no-repeat 50%;
    display: inline-block;
    margin-left: 6px;
}

.hasMegaMenu:hover::after{
    background-image: url(../public/menu-chevron-hover.svg);
}

.logIn{
    font-weight: 500;
    display: inline-block;
    padding: 11px 16px 10px;
    line-height: 25px;
    color: #1a0d3f;
    font-size: 18px;
    margin-right: 4px;
}

.logIn:hover{
    text-decoration: underline;
}

.try{
    font-weight: 500;
    padding: 3px 12px 4px;
    line-height: 23px;
    color: #db3700;
    border: 2px solid #db3700;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 4px;
    transition: background-color .2s ease, color .2s ease;
}

.try:hover{
    color: #fff;
    background-color: #db3700;
}

.megaNav{
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(26 13 63 / 8%);
}

.subLink{
    padding: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
}

.megaNavRow{
    display: flex;
}

.megaNavLeft .subMenu{
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-template-rows: 1fr 1fr;
    margin-left: -16px;
}

.megaNavLeft.megaTwoCols .subMenu{
    grid-template-columns: 1fr 1fr;    
}

.subMenuItem{
    max-width: 272px;
    padding-right: 40px;
}

.subTitle{
    font-size: 16px;
    color: #1a0d3f;
}

.subDes{
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(26,13,63,.6);
}

.megaNavRight{
    position: relative;
    min-height: 308px;
    padding: 32px;
}

.megaNavRight::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1920px;
    height: 100%;
    content: "";
    background: rgba(26,13,63,.03);
}

.lead{
    margin-bottom: 14px;
    max-width: 220px;
}

.title{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.description{
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(26,13,63,.6);
}

.megaNavRight .subLink{
    padding: 0;
}

.megaNavRight .subMenuItem:not(:last-child){
    margin-bottom: 8px;
}